<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ro.raduca.liceum">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="ro.raduca.liceum.Settings"
            android:label="Setări"
            android:parentActivityName="ro.raduca.liceum.Navigation"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ro.raduca.liceum.Navigation"/>
        </activity>

        <activity
            android:name="ro.raduca.liceum.ScoreCard"
            android:label="Cel mai bun scor"
            android:parentActivityName="ro.raduca.liceum.Navigation"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ro.raduca.liceum.Navigation"/>
        </activity>

        <activity
            android:name="ro.raduca.liceum.Result"
            android:label="Result">
        </activity>

        <activity
            android:name="ro.raduca.liceum.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="ro.raduca.liceum.Navigation"
            android:label="@string/app_name"
            android:parentActivityName="ro.raduca.liceum.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ro.raduca.liceum.MainActivity"/>
        </activity>

        <activity
            android:name="ro.raduca.liceum.Questions"
            android:label="Întrebări"
            android:parentActivityName="ro.raduca.liceum.Navigation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ro.raduca.liceum.Navigation"/>


        </activity>
    </application>

</manifest>